<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.mapper.AdminInfoMapper">
    <select id="getLogin" resultType="com.softeem.domain.AdminInfo">
        select * from admininfo where loginName = #{name} and password = MD5(#{password})
    </select>
</mapper>
