<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.mapper.MaterialMapper">
    <resultMap id="MaterialMap" type="com.softeem.domain.Material">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="factoryOutId" column="factoryOutId"/>
        <association property="dishes" javaType="com.softeem.domain.Dishes">
            <result property="dishesName" column="dishesName"/>
        </association>
    </resultMap>

    <select id="findMaterial" parameterType="integer" resultType="com.softeem.domain.Material">
        select *
        from material m
    </select>
</mapper>
