<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softeem.mapper.OrdersMapper">
 <resultMap id="OrdersMap" type="com.softeem.domain.Orders">
     <id property="id" column="id"/>
     <result property="userId" column="userId"/>
     <result property="dishesName" column="dishesName"/>
     <result property="numPrice" column="numPrice"/>
     <result property="price" column="price"/>
     <result property="number" column="number"/>
     <result property="orderTime" column="orderTime"/>
     <result property="isDelivery" column="isDelivery"/>
     <association property="users" javaType="com.softeem.domain.Users">
         <id property="id" column="id"/>
         <result property="address" column="address"/>
         <result property="loginName" column="loginName"/>
         <result property="sex" column="sex"/>
         <result property="phone" column="phone"/>
         <result property="email" column="email"/>
         <result property="userName" column="userName"/>
     </association>
 </resultMap>
    <insert id="addOrders" parameterType="com.softeem.domain.Orders">
        insert into orders(userId, dishesName, number, orderTime, isDelivery, status, price, numPrice)
        values (#{userId} , #{dishesName} , #{number} , #{orderTime} , #{isDelivery}, 1 , #{price} , #{numPrice})
    </insert>
    <update id="send" parameterType="integer">
        update orders set status = 2 where id = #{id}
    </update>
    <delete id="refuse" parameterType="integer">
        delete from orders where id = #{id}
    </delete>

    <select id="findAll" parameterType="integer" resultMap="OrdersMap">

        select o.id , o.dishesName,o.price,o.number,o.numPrice,o.orderTime,o.isDelivery,
        u.loginName,u.phone,u.address,u.sex,u.email,u.userName
        from orders o
        left join  users u on u.id = #{userId}
        where o.status = 1 and o.userId = #{userId}
    </select>


    <select id="checkOrders" resultMap="OrdersMap">
        select o.id , o.dishesName,o.price,o.number,o.numPrice,o.orderTime,o.isDelivery,
        u.loginName,u.phone,u.address,u.sex,u.email,u.userName
        from orders o
        left join  users u on u.id = o.userId
        where o.status = 1
    </select>

</mapper>
